body {
  margin: 0;
  padding: 0;
}

table {
  border: 3px solid black;
  margin: 0 auto;
  margin-top: 150px;
  font-size: 24px;
  line-height: 26px;
  border-collapse: collapse;
}

tr,
th,
td {
  padding: 20px 40px;
  border: 2px solid black;
  text-align: center;
}
